<%- include('partials/header'); -%>

<section class="wrapper">
    <div class="success"><%= typeof info != 'undefined' ? info : '' %></div>
    <div class="failure"><%= typeof error != 'undefined' ? error : '' %></div>
    <form class="form-container" action="/api/auth/login" method="POST">
        <h1>Sign in</h1>
        <%- include('partials/messages'); -%>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          
        <div class="form">
            <label for="username">Email
                <input type="text" name="email" autocomplete="false" required>
            </label>
            
            <label for="pswd">Password
                <input type="password" name="password" required>
            </label>
            
            <a href="#">Forgot your password?</a>
            <button type="submit" onclick="getRequest()">Login</button>
        </div>
    </form>
    <section class="info">
        
        <p>Not yet a member ? <a href="/api/auth/register">Register</a></p>
        <p>Return to <a href="/">home</a></p>
    </section>
</section>

<%- include('partials/footer'); -%>