<%- include('partials/header'); -%>

<section class="">
    <h1>Users Page</h1>
    <div class="user_container">
        <% if(typeof users != 'undefined'){ %> 
            <% users.forEach(function(user) { %>
            <div class="users">
              <p>First Name: <%= user.first_name %></p>
              <p>Lastst Name: <%= user.last_name %></p>
              <p>Email: <%= user.email %></p>
              <p>Role: <%= user.role %></p>
            </div>
            <button class="delete"><a href="/user/<% user.id %>">Delete</a></button>
            <% }); %> 
        <% } %> 
    </div>
    
</section>

<%- include('partials/footer'); -%>
